# Basics

## Syntax

Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.

Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

## Comments

Comments start with a #, and Python will render the rest of the line as a comment.

In [1]:
# This line is a comment and is ignored by the Python interpreter.

Comments do not have to start from the beginning of a line.

In [2]:
print('Hello world!') # the rest of this line is a comment

Hello world!

## Print

To display values on the screen, ```print(<expression>)``` function can be used.

# Variables

A variable is a storage location (identified by a memory address) paired with an associated name, which contains some known or unknown quantity of information referred to as a value. The variable name is the usual way to reference the stored value, in addition to referring to the variable itself, depending on the context. This separation of name and content allows the name to be used independently of the exact information it represents.

## Naming

A variable is recommended to have a descriptive name such as (age, carname, total_volume).

Rules for Python variables:
- A variable name must start with a letter or the underscore (_) character.
- A variable name cannot start with a number.
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
- Variable names are case-sensitive (age, Age and AGE are three different variables).

## Definition

To assign a value to a variable, variable name should be placed on the left-hand side, followed by the assignment (=) operator, and then the desired expression.

In [3]:
numeric_variable = 12
user_age = 21
product_weight = 15.4

message = 'Hello World!'
user_name = 'John Doe'

Different values can be assigned to the same variable.

In [4]:
print(user_name)
user_name = 'Jane Doe11'
print(user_name)

John Doe
Jane Doe11

# Input

The `input` function reads a line from input as a string (stripping a trailing newline) and returns that.

In [5]:
print('Enter your first name:')
first_name = input()

print('User entered:', first_name)

Enter your first name:

 Zhi

User entered: Zhi

If a string argument is provided to the `input` function, it will be printed on the screen before asking for the input.

In [6]:
last_name = input('Enter last name: ')

print('Hello {} {}!'.format(first_name, last_name))
print('Hello {} {}!'.format(first_name, last_name))

Enter last name:  Zheng

Hello Zhi Zheng!
Hello Zhi Zheng!

If any data type other than string is needed from the user, it has to be converted after entering.

In [7]:
age_raw = input('Enter your age: ')
age = int(age_raw) + 10

print(first_name, last_name, 'is', age, 'years old!')
print('{} {} is {} years old!'.format(first_name, last_name, age))

Enter your age:  26

Zhi Zheng is 36 years old!
Zhi Zheng is 36 years old!

## Data *Types*

None
None is typically used to represent the absence of a value.

In [8]:
no_value = None

print(no_value)
print(type(no_value))

None
<class 'NoneType'>

## Numeric Types

There are three numeric types in Python:
- int (e.g. 2, 4, 20)
- float (e.g. 5.0, 1.6)
- complex(e.g. 5 + 6 j, 4 - 3 j)

## `int` Type

In [9]:
user_age = 21
account_balance = -21

print("User age:", user_age)
print("Account balance:", account_balance)

User age: 21
Account balance: -21

To get the type of a value or an expression, `type(<expression>)` can be used.

In [10]:
print("Type of 'user_age' value:", type(user_age))
print("Type of 'account_balance' value:", type(account_balance))

Type of 'user_age' value: <class 'int'>
Type of 'account_balance' value: <class 'int'>

float Type

In [11]:
product_weight = 12.4
north_pole_temperature = -21.0

print('Product weight is', product_weight, 'lbs')
print('North pole temperature is', north_pole_temperature, 'F')

print('Type of "product_weight" is', type(product_weight))
print('Type of "north_pole_temperature" is', type(north_pole_temperature))

Product weight is 12.4 lbs
North pole temperature is -21.0 F
Type of "product_weight" is <class 'float'>
Type of "north_pole_temperature" is <class 'float'>

complex Type

In [12]:
voltage_oscillation1 = complex(12, 5)
voltage_oscillation2 = 12 + 5j # another method for defining complex values
square_root = complex(0, 1)

print('Voltage oscillation 1 is', voltage_oscillation1)
print('Voltage oscillation 2 is', voltage_oscillation2)
print('Square root of -1 is', square_root)

print('Type of "voltage_oscillation1" is', type(voltage_oscillation1))
print('Type of "voltage_oscillation2" is', type(voltage_oscillation2))
print('Type of "square_root" is', type(square_root))

Voltage oscillation 1 is (12+5j)
Voltage oscillation 2 is (12+5j)
Square root of -1 is 1j
Type of "voltage_oscillation1" is <class 'complex'>
Type of "voltage_oscillation2" is <class 'complex'>
Type of "square_root" is <class 'complex'>

# Boolean

Booleans represent the truth values `False` and `True`. The two objects representing the values `False` and `True` are the only Boolean objects. The Boolean type is a subtype of the integer type, and Boolean values behave like the values 0 and 1, respectively, in almost all contexts, the exception being that when converted to a string, the strings "False" or "True" are returned, respectively.

In [13]:
is_student_enrolled = True
is_class_full = False

print("Is student enrolled?", is_student_enrolled)
print("Is class full?", is_class_full)

print("Type of 'is_student_enrolled':", type(is_student_enrolled))
print("Type of 'is_class_full':", type(is_class_full))

Is student enrolled? True
Is class full? False
Type of 'is_student_enrolled': <class 'bool'>
Type of 'is_class_full': <class 'bool'>

# String Type

Besides numbers, Python can also manipulate strings (text), which can be expressed in several ways. They can be enclosed in single quotes ('...') or double quotes ("...") with the same result.

In [14]:
greeting1 = 'Hello World!'
greeting2 = "Hello World, again!"

print('First geeting:', greeting1)
print('Second geeting:', greeting2)

print('Type of "greeting1" is:', type(greeting1))
my_name = input('your name: ')
print(my_name)

First geeting: Hello World!
Second geeting: Hello World, again!
Type of "greeting1" is: <class 'str'>

your name:  Zhi Zheng

Zhi Zheng

String literals can span multiple lines. One way is using triple-quotes: """...""" or '''...'''. End of lines are automatically included in the string, but it's possible to prevent this by adding a \ at the end of the line. The following example:

In [15]:
message = '''Welcome to IENG 331!
In this course we will learn the basics of computer programming
using the Python programming language. We will also learn the\
 basics of data science and scientific computing.'''

print('Welcome message:', message)

Welcome message: Welcome to IENG 331!
In this course we will learn the basics of computer programming
using the Python programming language. We will also learn the basics of data science and scientific computing.

When not assigned to a variable, multi-line strings can act as comments. This

---

extended documentation ability is called docstring.

In [16]:
'''
This is a very long comment\
 It will be ignored by Python
This explain how the following function works
'''

'\nThis is a very long comment It will be ignored by Python\nThis explain how the following function works\n'

# Indexing

Strings can be indexed, with the first character having index 0. There is no separate character type; a character is simply a string of size one. Note that since -0 is the same as 0, negative indices start from -1.

In [17]:
print('1st character in', greeting1, 'is: ', greeting1[0])
print('12th character in', greeting1, 'is: ', greeting1[11])
# print('13th character in', greeting1, 'is: ', greeting1[12]) # IndexError: string index out of range
print('Last character in', greeting2, 'is:', greeting2[-1])
print(greeting2[4])

1st character in Hello World! is:  H
12th character in Hello World! is:  !
Last character in Hello World, again! is: !
o

## Slicing

In addition to indexing, slicing is also supported. While indexing is  used to obtain individual characters, slicing allows you to obtain substring.

In [18]:
print('First 5 characters in', greeting1, 'are:', greeting1[0:6])
print('Last 6 characters in', greeting2, 'are:', greeting2[-6:])
print(greeting2[-7:])
greeting2[-2]
greeting2[:-2]

First 5 characters in Hello World! are: Hello
Last 6 characters in Hello World, again! are: again!
 again!

'Hello World, agai'

In [19]:
print(greeting1[::-1])
greeting2[::-1]

!dlroW olleH

'!niaga ,dlroW olleH'

## Concatenation

Strings can be concatenated (glued together) with the `+` operator and repeated with `*`.

In [20]:
greeting = 'Good morning, '
user_name = 'John'
print(greeting + user_name + '!')

drink = 'Co' + 'f' * 2 + 'e' * 2
print('The best drink in the world is', drink)

Good morning, John!
The best drink in the world is Coffee

A shortcut to concatenate strings:

In [21]:
user_name = 'John ' 'Smith ' 'Jr.'
print('Welcome back,', user_name)

Welcome back, John Smith Jr.

## Special Characters

There are a number of special characters that cannot be displayed directly in a string. In order to include them, they have to be escaped by a backslash (`\`). They include new line character (`\n`), tab character (`\t`), backslach character (`\\`), single quote (`\'`), and double quote (`\"`).

In [22]:
message = '''Welcome valued customer,\nUnfortu\\nately, we don\'t have the item \'XDF34F\' you requested.\n
    \tBest Regards\n\tSupport Team'''

print(message)

Welcome valued customer,
Unfortu\nately, we don't have the item 'XDF34F' you requested.

    	Best Regards
	Support Team

## Length

The `len()` method returns the length of a string.

In [23]:
password = 'Super]ecr3tPa$$word!'
print('Your password is', len(password), 'characters long.')

Your password is 20 characters long.

## String Methods

Python provides several methdods (function that are callable on a value) for working with strings. These methods can be accessed by typing a '.' after a string value or variable, and then typing the method name.

In [24]:
message = "welcome to CAP 5771!"
message

'welcome to CAP 5771!'

`lower()`: Return a copy of the string with all the cased characters converted to lowercase.

In [25]:
message.lower()

'welcome to cap 5771!'

`upper()`: Return a copy of the string with all the cased characters converted to uppercase.

In [26]:
message.upper()

'WELCOME TO CAP 5771!'

`capitalize()`: Return a copy of the string with its first character capitalized and the rest lowercased.

In [27]:
message.capitalize()

'Welcome to cap 5771!'

`swapcase()`: Return a copy of the string with uppercase characters converted to lowercase and vice versa.

In [28]:
message.swapcase()

'WELCOME TO cap 5771!'

`title()`: Return a titlecased version of the string where words start with an uppercase character and the remaining characters are lowercase.

In [29]:
message.title()

'Welcome To Cap 5771!'

`casefold()`: Return a casefolded copy of the string. Casefolded strings may be used for caseless matching.

In [30]:
message.casefold()

'welcome to cap 5771!'

`split(<sep>)`: Return a list of the words in the string, using `sep` as the delimiter string.

In [31]:
message.split("e")

['w', 'lcom', ' to CAP 5771!']

`find(<sub>, <start>, <end>)`: Return the lowest index in the string where substring `sub` is found within the slice `s[start:end]` (`start` and `end` are optional).

In [32]:
message.find("CAP")

11

replace(<old>, <new>): Return a copy of the string with all occurrences of substring old replaced by new.

In [33]:
print(message.replace("5771", "3250"))
print(message.replace("welcome", "hello"))

welcome to CAP 3250!
hello to CAP 5771!

count(<sub>, <start>, <end>): Return the number of non-overlapping occurrences of substring sub in the range [start, end] (start and end are optional).

In [34]:
message.count("e")

2

`strip([<chars>])`: Return a copy of the string with the leading and trailing `chars` removed.

In [35]:
message = "       welcome to IENG 331!          "
message.strip()

'welcome to IENG 331!'

String Formatting
Often you'll want more control over the formatting of your output than simply printing space-separated values. There are several ways to format output.

In [36]:
first_name = 'John'
last_name = 'Smith'
price = +58467534.996
balance = -645234.34

print('Hello', first_name, last_name, 'The item costs', price)

print('Hello {} {}. The item costs {}.'.format(first_name, last_name, price))

Hello John Smith The item costs 58467534.996
Hello John Smith. The item costs 58467534.996.

Add , to large numbers:

In [37]:
'The item costs ${:,}'.format(price)

'The item costs $58,467,534.996'

Add sign to numbers:

In [38]:
'The item costs {:02,}'.format(price)

'The item costs 58,467,534.996'

To add sign only when the number is negative:

In [39]:
'The item costs {: ,}'.format(balance)

'The item costs -645,234.34'

Formatting float values:

In [40]:
'The item costs ${:,.2f}'.format(price)

'The item costs $58,467,535.00'

format percentage values:

In [41]:
percentage = 0.097345
'{:2.3%} of the population falls in group A'.format(percentage)

'9.735% of the population falls in group A'

To add spacing before or after text:

In [42]:
'First name: {:<10} Last name: {:>20}'.format(first_name, last_name)

'First name: John       Last name:                Smith'

To add spacing and center text:

In [43]:
'Welcome: {:^40}'.format(first_name)

'Welcome:                   John                  '

# Lists

Python has a number of compound data types (sequence types), used to group together other values. The most common is the list, which can be written as a list of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [44]:
empty_list = []
empty_list

[]

In [45]:
squares = [1, 4, 5, 16, 25]
squares
lis = input('your numbers: ')
print(lis)
list(lis)

your numbers:  17

17

['1', '7']

To get the list length, len(<list>) function can be used. Similarly, max() and min(<list>) functions can be used to get the maximum and minimum elements in a list.

In [46]:
len(squares)

5

In [47]:
max(squares)

25

In [48]:
min(squares)

1

## Indexing and Slicing

Like strings (and all other sequence types), lists can be indexed and sliced.

In [49]:
squares[-1::-1]

[25, 16, 5, 4, 1]

In [50]:
squares[-1]

25

In [51]:
squares[-3:]

[5, 16, 25]

In [52]:
squares[1::3]

[4, 25]

In [53]:
squares[::-1]

[25, 16, 5, 4, 1]

## Concatenation

Lists also support operations like concatenation.

In [54]:
more_squares = squares + [53, 49, 64, 81, 100]
more_squares

[1, 4, 5, 16, 25, 53, 49, 64, 81, 100]

## Changing Values

Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content.

In [55]:
more_squares[9] = 121
print(more_squares)

[1, 4, 5, 16, 25, 53, 49, 64, 81, 121]

## List Methods

Python provides several methods (function that are callable on a value) for working with lists. These methods can be accessed by typing a '.' after a list value or variable, and then typing the method name.

In [56]:
fruits = ["apple", "orange", "grape", "banana", "apple", "strawberry"]
fruits

['apple', 'orange', 'grape', 'banana', 'apple', 'strawberry']

append(<value>): Appends value to the end of the sequence.

In [57]:
fruits.append("melon")
fruits

['apple', 'orange', 'grape', 'banana', 'apple', 'strawberry', 'melon']

pop(<i>): Retrieves the item at index i and also removes it from list. (i is optional, if not provided, last element will be returned and removed)

In [58]:
last_fruit = fruits.pop()
last_fruit

'melon'

In [59]:
fruits

['apple', 'orange', 'grape', 'banana', 'apple', 'strawberry']

In [60]:
second_fruit = fruits.pop(1)
second_fruit

'orange'

In [61]:
fruits

['apple', 'grape', 'banana', 'apple', 'strawberry']

insert(<i>, <value>): Inserts value into list at the index given by i.

In [62]:
fruits.insert(0, "blueberry")
fruits

['blueberry', 'apple', 'grape', 'banana', 'apple', 'strawberry']

remove(<value>): Remove the first item from list that matches value.

In [63]:
fruits.remove("apple")
fruits

['blueberry', 'grape', 'banana', 'apple', 'strawberry']

sort(): This method sorts the list in place.

In [64]:
fruits.sort()
fruits

['apple', 'banana', 'blueberry', 'grape', 'strawberry']

reverse(): Reverses the items of the list in place.

In [65]:
fruits.reverse()
fruits

['strawberry', 'grape', 'blueberry', 'banana', 'apple']

count(<value>): Returns number of occurrences of value in the list.

In [66]:
fruits.count('apple')

1

index(<value>, <start>, <end>): Return first index of value, searching from start to end (start and end are optional). If value is not found, an error will be thrown.

In [67]:
fruits.index("apple")

4

join(<list>): Return a string which is the concatenation of the strings in list. This method is callable on a string and accepts a list argument.

In [68]:
"? ".join(fruits)

'strawberry? grape? blueberry? banana? apple'

copy(): Creates a shallow copy of the list.

In [69]:
fruits_reference = fruits
fruits_copy = fruits.copy()
fruits[0] = "watermelon"

print(fruits)
print(fruits_reference)
print(fruits_copy)

['watermelon', 'grape', 'blueberry', 'banana', 'apple']
['watermelon', 'grape', 'blueberry', 'banana', 'apple']
['strawberry', 'grape', 'blueberry', 'banana', 'apple']

clear(): Removes all items from the list.

In [70]:
fruits.clear()
fruits

[]

## List Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

Create a list of squares using a for loop:

In [71]:
squares = []
for number in range(10):
    squares.append(number ** 2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Create a list of squares using list comprehensions:

In [72]:
squares = [x ** 2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

We can also create a list of squares using list comprehensions and conditionals. In this case, even values are filtered out.

In [73]:
odd_squares = [x for x in squares if x % 3 == 0]
odd_squares

[0, 9, 36, 81]

In [74]:
odd_squares = []
for x in squares:
    if x % 3 ==0:
        odd_squares.append(x)
print(odd_squares)

[0, 9, 36, 81]

# Tuples

A tuple is a collection which is ordered and unchangeable. In Python tuples are written with round brackets.

The Tuples have following properties:
- You cannot change values in a tuple.
- You cannot remove items in a tuple.

In [75]:
colors_tuple = ("red", "green", "blue", "yellow", "black", "white")

In [76]:
colors_tuple

('red', 'green', 'blue', 'yellow', 'black', 'white')

In [77]:
colors_tuple[1]

'green'

In [78]:
colors_tuple[1:4]

('green', 'blue', 'yellow')

In [79]:
empty_tuple = ()
empty_tuple

()

In [80]:
single_element_tuple = (42)
single_element_tuple

42

## Tuple Methods

Python provides couple of methods (function that are callable on a value) for working with tuples. These methods can be accessed by typing a '.' after a tuple value or variable, and then typing the method name.

In [81]:
grades = (100, 95, 87, 95, 71)
grades

(100, 95, 87, 95, 71)

index(<value>): Find the index of the value in the tuple, if it exists. If the value is not found, it will raise an error.

In [82]:
search_value = 71
grades.index(search_value)
grades.count(95)

2

count(<value>): Find the number of times a value appears in the tuple.

In [83]:
count_value = 95
grades.count(count_value)

2

## Sets

A set is a collection of unique elements which are unordered and unindexed. In Python sets are written with curly brackets. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [84]:
fruits_set = {"apple", "banana", "cherry", "apple"}
fruits_set

{'apple', 'banana', 'cherry'}

len() function can be used to get the length of a set.

In [85]:
len(fruits_set)

3

## Set Methods

Python provides several methods (function that are callable on a value) for working with sets. These methods can be accessed by typing a '.' after a set value or variable, and then typing the method name.

In [86]:
set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'e', 'f'}

add(<value>): Add the value to a set. If the value already exists, nothing will happen.

In [87]:
set1.add('z')
set1

{'a', 'b', 'c', 'd', 'z'}

In [88]:
set1.add('a')
set1

{'a', 'b', 'c', 'd', 'z'}

discard(<value>): Remove the value from the set. If the value doesn't exist, nothing will happen.

In [89]:
set1.discard('z')
set1

{'a', 'b', 'c', 'd'}

pop(): To return and remove a value from the set. If no value exists in the set, an error will be raised.

In [90]:
popped_value = set1.pop()
print(popped_value)
print(set1)

a
{'c', 'b', 'd'}

clear(): Remove all the elements in the set.

In [91]:
set1.clear()
set1

set()

clear(): Remove all the elements in the set.

In [92]:
set1.clear()
set1

set()

##Set Operations

In [93]:
set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'e', 'f'}

union(<set1>, <set2>, ...): Return a new set with elements from the set and all others.

In [94]:
union_set = set1.union(set2)
union_set

{'a', 'b', 'c', 'd', 'e', 'f'}

 operator can be used as a shortcut for union operation on sets.

In [95]:
union_set = set1 | set2
union_set

{'a', 'b', 'c', 'd', 'e', 'f'}

intersection(<set1>, <set2>, ...): Return a new set with elements common to the set and all others.

In [96]:
intersection_set = set1.intersection(set2)
intersection_set

{'c', 'd'}

& operator can be used as a shortcut for intersection operation on sets.

In [97]:
intersection_set = set1 & set2
intersection_set

{'c', 'd'}

#difference(<set1>, <set2>, ...): Return a new set with elements in the set that are not in the others.

In [98]:
difference_set = set1.difference(set2)
difference_set

{'a', 'b'}

`-` operator can be used as a shortcut for difference operation on sets.

In [99]:
difference_set = set1 - set2
difference_set

{'a', 'b'}

In [100]:
set1 = {'a', 'b', 'c', 'd'}
set2 = {'c', 'd', 'e', 'f'}
set3 = {'a', 'b', 'c'}
set4 = {'g', 'h'}

issuperset(<other>): Test whether every element in the set is in other.

In [101]:
set1.issuperset(set3)

True

In [102]:
set1.issuperset(set2)

False

issubset(<other>): Test whether every element in other is in the set.

In [103]:
set3.issubset(set1)

True

In [104]:
set1.issubset(set2)

False

isdisjoint(<other>): Return True if the set has no elements in common with other. Sets are disjoint if and only if their intersection is the empty set.

In [105]:
set1.isdisjoint(set2)

False

In [106]:
set1.isdisjoint(set4)

True

# Ranges

The range type represents an immutable sequence of numbers and is commonly used for looping a specific number of times in for loops.

In [107]:
single_digits = range(10)
single_digits
for i in single_digits:
    bb = list(single_digits)
print(bb)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
type(single_digits)

range

Ranges need to be converted into other sequence types to be displayed.

In [109]:
single_digits_list = list(single_digits)
single_digits_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Ranges can product numbers between an inclusive starting value and an exclusive final value.

In [110]:
expiration_year = tuple(range(2018, 2030))
expiration_year

(2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029)

A step value can be provided as the third parameter to skip over values.

In [111]:
odd_numbers = list(range(0, 20, 2))
odd_numbers

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

##Operators

# Arithmetic Operators

Arithmetic operators are used with numeric values to perform common mathematical operations.

In [112]:
number1 = 10
number2 = 3
number3 = 3.1

Addition (`+`)

In [113]:
number4 = number1 + number2
number4

13

In [114]:
number4 = number1 + number3
number4

13.1

Subtraction (`-`)

In [115]:
number4 = number1 - number2
number4

7

In [116]:
number4 = number1 - number3
number4

6.9

Multiplication (`*`)

In [117]:
number4 = number1 * number2
number4

30

In [118]:
number4 = number1 * number3
number4

31.0

Division (`/`): Result of division is a float number

In [119]:
number4 = number1 / number2
print('the division result is: {:.5}'.format(number4))

the division result is: 3.3333

Floor division (`//`): Result of floor division is an int number

 also known as integer division or truncating division, is a mathematical operation that calculates the largest integer quotient when one number (the dividend) is divided by another number (the divisor). The result of floor division is the integer value that is closest to the left on the number line.

In [120]:
number4 = number1 // number2
number4

3

Modulus (`%`)
In arithmetic, the term "modulus" refers to the remainder obtained when one number (the dividend) is divided by another number (the divisor). The modulus operation is often denoted using the symbol "%".

In [121]:
number4 = number1 % number2    #10%3=1
number4

1

In [122]:
number4 = number1 % number3
number4

0.6999999999999997

Exponentiation (`**`)

In [123]:
number4 = number1 ** number2
number4

1000

In [124]:
number4 = number1 ** number3
number4

1258.9254117941675

### Assignment Operators

Assignment operators are used to assign values to variables.

Single assignment:

In [125]:
number1 = 8
number2 = 2

In [126]:
# Multiple assignment:
number1, number2 = 2, 8

In [127]:
# You may even switch variable values using multiple assignment:
number1, number2 = number2, number1
print(number1)
print(number2)

8
2

In [128]:
# Assignment operator combined with arithmetic operators:
number1 = 8
number2 = 2
number2 += number1
number2

10

In [129]:
number1 = 8
number2 = 2
number2 -= number1
number2

-6

In [130]:
number1 = 8
number2 = 2
number2 *= number1
number2

16

In [131]:
number1 = 8
number2 = 2
number2 /= number1
number2

0.25

In [132]:
number1 = 8
number2 = 2
number2 //= number1
number2

0

In [133]:
number1 = 8
number2 = 2
number2 %= number1
number2

2

In [134]:
number1 = 8
number2 = 2
number2 **= number1
number2

256

##Comparison Operators

Comparison operators are used to compare two values. The result from comparison operators is a bool value.

In [135]:
number1 = 42
number2 = 42.1

In [136]:
# Less than (`<`)
number1 < number2

True

In [137]:
# Less than or equal to (`<=`)
number1 <= number2

True

In [138]:
# Greater than (`>`)
number1 > number2

False

In [139]:
# Greater than or equal to (`>=`)
number1 >= number2

False

In [140]:
# Equal (`==`)
number1 == number2

False

In [141]:
# In programming, the "exclamation mark" or "!" symbol is commonly referred to as the "Logical NOT" operator or simply the "NOT" operator.
# Not equal (`!=`)
number1 != number2

True

## Logical Operators

Logical operators are used to combine groups of comparison operations and conditional statements.

In [142]:
user_age = 20
user_role = "student"

`and`: Returns True if both operands are True.

In [143]:
True and True

True

In [144]:
True and False

False

In [145]:
False and False

False

In [146]:
user_age >= 13 and user_age < 20

False

or: Returns True if one of the statements is True.

In [147]:
True or True

True

In [148]:
True or False

True

In [149]:
False or False

False

In [150]:
user_role == 'student' or user_role == 'instructor'

True

`not`: Reverse the result, returns False if the result is True.

In [151]:
not True

False

In [152]:
not False

True

In [153]:
not user_age < 21

False

# Membership Operator

Membership operator is used to test whether a value is presented in a sequence type.

In [154]:
shopping_list = ["apple", "banana"]
shopping_list

['apple', 'banana']

In [155]:
"apple" in shopping_list

True

In [156]:
"pineapple" in shopping_list

False

In [157]:
"pineapple" not in shopping_list

True

In [158]:
course_description = '''Welcome to CAP 5771
In this course, we will learn computer programming and\
 fundamentals of data science.'''
print(course_description)

Welcome to CAP 5771
In this course, we will learn computer programming and fundamentals of data science.

In [159]:
"CAP 5771" in course_description

True

In [160]:
"CAP 5771" not in course_description

False