##Control Flow

# Conditionals

- 'if' statement can be uesd in Python to test for different conditions.
- 'elif' statement is used to add extra conditions for testing.
- 'else' statement is executed if no previous condition is satisfied.

There can be zero or more elif parts, and at most one else part. The keyword 'elif' is short for 'else if', and is useful to avoid excessive indentation.

In [ ]:
user_age = 20

print('You are', user_age, 'years old.')
if user_age < 21:
    print('Enjoy your orange juice!')
else:
    print("Enjoy your beer!")

You are 20 years old.
Enjoy your orange juice!

If there are multiple conditions, 'elif' should be used.

In [ ]:
student_final_grade = 85
student_letter_grade = 'N/A'

if student_final_grade >= 90:
    student_letter_grade = 'A'
elif student_final_grade >= 80:
    student_letter_grade = 'B'
elif student_final_grade >= 70:
    student_letter_grade = 'C'
elif student_final_grade >= 60:
    student_letter_grade = 'D'
else:
    student_letter_grade = 'F'

print("Your final grade is", student_final_grade, "and your letter grade is", student_letter_grade)

Your final grade is 85 and your letter grade is B

In [ ]:
# Multiple conditions could be combined using the logical operators.
user_age = 24
user_balance = 15.50

if user_age >= 21 and user_balance >= 10:
    print("Enjoy your martini! :)")
elif user_balance >= 5:
    print("Enjoy your orange juice! :|")
else:
    print("Enjoy a cup of water! :(")

Enjoy your martini! :)

In [ ]:
user_role = "student"

if user_role == "instructor" or user_role == "student" or user_role == "ta":
    print("You can access the course page")
else:
    print("Access denied!")

You can access the course page

In [ ]:
# Python supports nested 'if' statements.
user_age = 17
user_balance = 5.50
user_drink = "water"

if user_age >= 21:
    if user_balance >= 10:
        user_drink = "martini"
    elif user_balance >= 5:
        user_drink = "beer"
else:
    if user_balance >= 5:
        user_drink = "orange juice"

print("Enjoy your", user_drink)

Enjoy your orange juice

# Loops

Pyhton supports several looping mechanisms in order to execute a group of statements for a specific number of iterations.

## For Loops

Python's `for` statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.

In [ ]:
user_list = ["John", "Jane", "Jack", "Jill", "James", "Jesse"]

for user_name in user_list:
    print("[ Welcome", user_name, "]")

[ Welcome John ]
[ Welcome Jane ]
[ Welcome Jack ]
[ Welcome Jill ]
[ Welcome James ]
[ Welcome Jesse ]

In [ ]:
for user_name in user_list[0:2]:
    print("Bye", user_name)

Bye John
Bye Jane

In [ ]:
# First 10 even numbers:
numbers = range(0, 20, 2)
for number in numbers:
    bb = list(numbers)
print(bb)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# User names and their IDs:
for user_id in range(len(user_list)):
    print(user_id + 1, user_list[user_id])

1 John
2 Jane
3 Jack
4 Jill
5 James
6 Jesse

##Generate user names separated by a comma using a for loop.

In [ ]:

# Method 1:
comma_separated_names = ""

for user_id in range(len(user_list)):
    user_name = user_list[user_id]

    comma_separated_names += user_name

    if user_id != len(user_list) - 1:
        comma_separated_names += ","

comma_separated_names

'John,Jane,Jack,Jill,James,Jesse'

In [ ]:
# Method 2:
comma_separated_names = ""

for user_name in user_list:
    comma_separated_names += user_name + ","
comma_separated_names = comma_separated_names[0:-1]


comma_separated_names

'John,Jane,Jack,Jill,James,Jesse'

In [ ]:
# Method 3
comma_separated_names = user_list[0]

for user_name in user_list[1:]:
     comma_separated_names += "," + user_name

comma_separated_names

'John,Jane,Jack,Jill,James,Jesse'

## While Loops

The `while` loop executes as long as the condition remains true. The condition may also be a string or list value, in fact any sequence; anything with a non-zero length is true, empty sequences are false.

In [ ]:
# Calculate sum of all the positive integer less than or equal to 100:
final_value = 100

sum = 0

while final_value > 0:
    sum += final_value
    final_value -= 1

print(sum)

5050

In [ ]:
# Calculate the factorial of 10:
final_value = 10

factorial = 1

while final_value > 1:
    factorial *= final_value
    final_value -= 1

factorial

3628800

## break

The `break` statement breaks out of the innermost enclosing `for` or `while` loop.

In [ ]:
user_list = ["Jane", "John", "Jill", "Jack", "James"]

for user_name in user_list:
    print(user_name)
    if user_name == "Jill":
        break

print("This message is displayed after the loop")

Jane
John
Jill
This message is displayed after the loop

In this code, we initialize variables and use a while loop to accumulate the sum of values while ensuring that the loop breaks when the 'temporary_value' becomes 42. Finally, the sum of values is printed.

In [ ]:
final_value = 100
temporary_value = 0
sum_values = 0

# Loop while temporary_value is less than final_value
while temporary_value < final_value:
    # Check if temporary_value is 42 and break the loop
    if temporary_value == 42:
        break

    # Add temporary_value to sum_values and increment temporary_value
    sum_values += temporary_value
    temporary_value += 1

# Print the sum of the values
print("\nSum of the values is", sum_values)

Sum of the values is 861

In this code, we have a list of user names and we use a for loop to iterate through the list to search for a specific value. The loop stops as soon as the value is found using the break statement. Finally, the code checks if the value was found and prints a corresponding message.

In [ ]:
# List of user names
user_list = ["Jane", "John", "Jill", "Jack", "James"]

# Value to search for
search_value = "Jill"

# Initialize result to indicate not found
result = -1

# Iterate through the user_list to search for the value
for item_index in range(len(user_list)):
    user_name = user_list[item_index]
    if user_name == search_value:
        result = item_index
        # Exit the loop when the value is found
        break

# Check if the value was found and print the appropriate message
if result > -1:
    print(search_value, "is found at index", result)
else:
    print(search_value, "is not found")

Jill is found at index 2

## continue

The `continue` statement continues with the next iteration of the loop.

In [ ]:
numbers_list = list(range(100, 140))

for value in numbers_list:
    if value % 3 == 0:
        continue
    print(value)

100
101
103
104
106
107
109
110
112
113
115
116
118
119
121
122
124
125
127
128
130
131
133
134
136
137
139

## Functions

Functions are "self contained" blocks of code that accomplish a specific task. Functions usually "take in" data, process it, and "return" a result. Once a function is written, it can be used over and over and over again. Functions can be "called" from the inside of other functions.

The keyword `def` introduces a function definition. It must be followed by the function name and the  parenthesized list of formal parameters. The statements that form the body of the function start at  the next line, and must be indented.

In [ ]:
def greet():
    print("Hello user!")
    print("Welcome to CAP 5771")

greet()

Hello user!
Welcome to CAP 5771

Functions can accept as many arguments, which are going to be accessible inside the function definition. Argument variables can be called any legal variable name and they are accessible using that defined name inside the function definition block.

In [ ]:
def greet_user(user_name):
    print("Hello", user_name)
    print("Welcome to CAP 5771")

user_list = ["Jane", "John", "Jill", "Jack", "James"]

for user_name in user_list:
    greet_user(user_name)

Hello Jane
Welcome to CAP 5771
Hello John
Welcome to CAP 5771
Hello Jill
Welcome to CAP 5771
Hello Jack
Welcome to CAP 5771
Hello James
Welcome to CAP 5771

In [ ]:
def greet_user_to_class(user_name, department_code, class_code):
    print("Hello", user_name)
    print("Welcome to", department_code, class_code)

user_list = ["Jane", "John", "Jill", "Jack", "James"]

for user_name in user_list:
    greet_user_to_class(user_name, "CAP", "5771")

Hello Jane
Welcome to CAP 5771
Hello John
Welcome to CAP 5771
Hello Jill
Welcome to CAP 5771
Hello Jack
Welcome to CAP 5771
Hello James
Welcome to CAP 5771

To return a value from a function once the function is done processing, the `return` keyword can be used. Any value in front of the `return` keyword will be returned from the function, where the function is called. No statement will be executed in the function after the `return` statement.

In [ ]:
def add_numbers(number1, number2):
    sum_numbers = number1 + number2
    return sum_numbers

value = add_numbers(12, 21)

value

33

This code defines a function fibonacci_numbers_upto that generates and prints Fibonacci numbers up to a given max_value. It uses a while loop to generate and print the numbers while keeping track of the last two values using n_1_value and n_2_value. The function is then called with an argument of 999 to print Fibonacci numbers up to that value.

In [ ]:
# Define a function to print Fibonacci numbers up to a given maximum value
def fibonacci_numbers_upto(max_value):
    n_1_value = 1
    n_2_value = 1

    # Print the first two Fibonacci numbers
    print(n_1_value)
    print(n_2_value)

    # Generate and print Fibonacci numbers up to max_value
    while n_1_value + n_2_value < max_value:
        print(n_1_value + n_2_value)
        n_1_value, n_2_value = n_1_value + n_2_value, n_1_value

# Call the function to print Fibonacci numbers up to 999
fibonacci_numbers_upto(999)

1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987

## Scopes

The scope of a variable refers to the places that you can see or access a variable.

In [ ]:
# If the accessed variable does not exists in the function scope, it tries to find a variable with the same name in the global (outher) scope.
user_name = "Jane"

def access_global_var():
    print("Hello", user_name)

print("'user_name' before calling access_global_var:", user_name)
access_global_var()
print("'user_name' after calling access_global_var:", user_name)

'user_name' before calling access_global_var: Jane
Hello Jane
'user_name' after calling access_global_var: Jane

In [ ]:
# If a variable is defined in the function scope, the outer and global variables with the same name will be ignored.
def define_local_var():
    user_name = "John"
    print("Hello", user_name)

print("\n'user_name' before calling define_local_var:", user_name)
define_local_var()
print("'user_name' after calling define_local_var:", user_name)

'user_name' before calling define_local_var: Jane
Hello John
'user_name' after calling define_local_var: Jane

If we want to access a variable defined a the global scope, first that variable should be called with keyword 'global'. Then, the global value can be read and modified.

In [ ]:
def change_global_var():
    global user_name
    user_name = "John"
    print("Hello", user_name)

print("\n'user_name' before calling change_global_var:", user_name)
change_global_var()
print("'user_name' after calling change_global_var:", user_name)

'user_name' before calling change_global_var: Jane
Hello John
'user_name' after calling change_global_var: John

If a function is defined inside another scope (e.g., function), to access a variable in the outer (non-local) scope, that variable has to be called with the 'nonlocal' keyword first. Then, the value of that variable in the outer scope can be read and modified.

In [ ]:
def change_nonlocal_var():
    user_name = "Jack"

    def access_nonlocal_var():
        global user_name
        # nonlocal user_name
        user_name = "Janet"
        print("Bye", user_name)

    print("'user_name' before calling access_nonlocal_var:", user_name)
    access_nonlocal_var()
    print("'user_name' after calling access_nonlocal_var:", user_name)

print("\n'user_name' before calling change_nonlocal_var:", user_name)
change_nonlocal_var()
print("'user_name' after calling change_nonlocal_var:", user_name)

### Arguments

Functions accept input values (arguments) in several different forms.

## Positional Arguments

The most basic form of arguments is positional arguments. They are passed to the function in the same order they are defined and they all have to be present.

In [ ]:
def greet_user(name):
    print('Hello {}'.format(name))

greet_user('John')

Hello John

## Default Arguments

The most useful form for a function is to specify a default value for one or  more arguments. This creates a function that can be called with fewer arguments than it is defined to allow.

In [ ]:
def greet_user(user_name, greeting_type = "Hello"):
    print(greeting_type + " " + user_name + "!")

greet_user("John")

greet_user("Jane", "Bye")

Hello John!
Bye Jane!

In [ ]:
def power_of(number, power = 2):
    return number ** power

print("4 ^ 2:", power_of(4))
print("4 ^ 5:", power_of(4, 5))

4 ^ 2: 16
4 ^ 5: 1024

## Keyword Arguments

Functions can be called using keyword arguments of the form kwarg=value.

In [ ]:
def greet_user(user_name, greeting_type = "Hello", ending = "!"):
    return greeting_type + " " + user_name + ending

We can either call functions using positional arguemts in the same order as definition of arguments.

In [ ]:
message = greet_user("Jake", "How are you", "?")
message

'How are you Jake?'

In [ ]:
message = greet_user("Janet", "Howdy")
message

'Howdy Janet!'

Or we can call functions using keyword arguments in any order using the arguments name followed by = and a value.

In [ ]:
message = greet_user(user_name = "Jane")
message

'Hello Jane!'

In [ ]:
message = greet_user(greeting_type = "What's up", user_name = "John", ending = "?")
message

"What's up John?"

Function can still be called with any number of positional arguments followed by keyword arguments. But once a keyword argument is used, no positional argument can follow.

In [ ]:
message = greet_user("Jill", ending = ".")
message

'Hello Jill.'

The following will not work, since a keyword argument is followed by a positional argument.

In [ ]:
# greet_user(ending="?!", "Justin")

## Arbitrary Arguments

Function can be called with an arbitrary number of arguments. These arguments will be wrapped up in  a tuple. Before the variable number of arguments, zero or more normal arguments may occur.

In this code, the function name_printer is defined to accept a variable number of arguments using the *names syntax. Inside the function, it prints the type of the argument (which will be a tuple) and then prints the names that were passed as arguments. The function is called with multiple names, and the output will show the type of the argument and the list of names.

In [ ]:
# Define a function to print variable number of names
def name_printer(*names):
    print(type(names))  # Print the type of the argument (a tuple)
    print(names)  # Print the names passed as arguments

# Call the function with multiple names
name_printer("John", "Jane", "Janet", "Jack")

<class 'tuple'>
('John', 'Jane', ' Janet', 'Jack')

Calculate summation of arbitrary number of numbers:

In this code, the function sum is defined to accept a variable number of arguments using the *numbers syntax. Inside the function, it calculates the sum of all the numbers passed as arguments. The function is then called with a variety of numbers, and the result is printed using the print statement.

In [ ]:
# Define a function to calculate the sum of a variable number of numbers
def sum(*numbers):
    final_value = 0

    for number in numbers:
        final_value += number

    return final_value

# Call the sum() function with a variety of numbers
print("\nsum():", sum(1, 2, 3, 4, 5, 6.4))

sum(): 21.4

Find the maximum value in given numbers:

In [ ]:
# Define a function to find the maximum value among a variable number of numbers
def max(*numbers):
    max_value = numbers[0]

    # Iterate through the numbers and update max_value if a larger number is found
    for number in numbers:
        if number > max_value:
            max_value = number

    return max_value

# Call the max() function with a set of numbers and print the result
print("\nmax():", max(-9, 4, -8, -3))

max(): 4

## Recursion

Recursion refers to calling a function from itself.

Recursion in computer science is a method of solving a problem where the solution depends on solutions to smaller instances of the same problem (as opposed to iteration). The approach can be applied to many types of problems, and recursion is one of the central ideas of computer science.

Calculation of factorial using recursion:

In this code, the function factorial is defined using a recursive approach to calculate the factorial of a given number. The base case is when the number is 1, in which case the factorial is 1. For larger numbers, the function recursively multiplies the current number with the factorial of (number - 1). The result of calculating the factorial of 5 is stored in the variable result, and it is printed using the final result statement.

In [ ]:
# Define a recursive function to calculate the factorial of a number
def factorial(number):
    # Base case: factorial of 1 is 1
    if number == 1:
        return 1
    # Recursive case: multiply the current number with factorial of (number - 1)
    return number * factorial(number - 1)

# Calculate the factorial of 5 and store the result in the variable "result"
result = factorial(5)

# Print the result
result

120

Calculation of Fibonacci numbers using recursion:

In [ ]:
def fibonacci(nth):
    if nth == 1 or nth == 2:
        return 1
    return fibonacci(nth - 1) + fibonacci(nth - 2)

fibonacci(7)

13

## Built-in Functions

The Python interpreter has a number of functions and types built into it that are always available.

## IO Functions

`print(<value1>, <value2>, ...)`: Print objects to the text stream file, separated by `sep` and followed by `end`. `sep`, `end`, `file` and `flush`, if present, must be given as keyword arguments.

In [ ]:
print('Hello, World!')
print('Hello', 'World', sep='', end='\n\n\n')
print('Another line!')

Hello, World!
HelloWorld


Another line!

`input(<prompt>)`: If the prompt argument is present, it is written to standard output without a trailing newline. The function then reads a line from input, converts it to a string (stripping a trailing newline), and returns that.

In [ ]:
name = input('\nPlease enter your name: ')
print('Hello {}'.format(name))

Please enter your name: Parisa
Hello Parisa

## Mathematical Functions

`abs(<number>)`: Return the absolute value of a number.

In [ ]:
abs(-3.1)

3.1

`divmod(<a>, <b>)`: Take two (non complex) numbers as arguments and return a pair of numbers consisting of their quotient and remainder when using integer division.

In [ ]:
divmod(17, 5)

(3, 2)

`max(<number1>, <number2>, ...)`: Return the largest item in an iterable or the largest of two or more arguments.

In [ ]:
values = [12.4, 13.6, 11.5, 14.7, 9.6]
max(values)

14.7

`min(<number1>, <number2>, ...)`: Return the smallest item in an iterable or the smallest of two or more arguments.

In [ ]:
min(values)

9.6

`round(<number>, <digits>)`: Return number rounded to ndigits precision after the decimal point. If ndigits is omitted or is None, it returns the nearest integer to its input.

In [ ]:
round(12.5)

12

In [ ]:
round(3.14152, 2)

3.14

`sum(<number1>, <number2>, ...)`: Sums start and the items of an iterable from left to right and returns the total.

In [ ]:
sum(values)

61.800000000000004

In [ ]:
round(sum(values), 2)

61.8

## Type Constructor Functions

`bool(<value>)`: Return a Boolean value, i.e. one of `True` or `False`.

In [ ]:
bool(0.6)

True

In [ ]:
bool(0)

False

In [ ]:
bool('')

False

In [ ]:
bool(None)

False

`complex(<real>, <imaginary>)`: Return a complex number with the value real + imag*1j or convert a string or number to a complex number.

In [ ]:
complex(5, 12)

(5+12j)

`dict(<values>)`: Create a new dictionary.

In [ ]:
dict(firstname = 'John', lastname = 'Smith')

{'firstname': 'John', 'lastname': 'Smith'}

`float(<value>)`: Return a floating point number constructed from a number or string.

In [ ]:
x = '-3.56'
float(x)

-3.56

`int(<value>)`: Return an integer object constructed from a number or string, or return 0 if no arguments are given.

In [ ]:
x = '-45'
int(x)

-45

`list(<sequence>)`: Return a list type for the provided sequence.

In [ ]:
range_values = range(0, 20, 2)
list(range_values)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

`range(<start>, <stop>, <step>)`: Returns the range including `start`, upto but not including `stop`. If the `step` argument is omitted, it defaults to 1.

In [ ]:
range_values = range(1, 21, 4)
list(range_values)

[1, 5, 9, 13, 17]

`set(<sequence>)`: Return a new set object, optionally with elements taken from a given sequence.

In [ ]:
values = [1, 2, 3, 1, 2, 4, 5, 3, 2, 1]

set(values)

{1, 2, 3, 4, 5}

`str(<value>)`: Return a string version of the value.

In [ ]:
str(12.3)

'12.3'

`tuple(<sequence>)`: Return a tuple type for the provided sequence.

In [ ]:
tuple(range_values)

(1, 5, 9, 13, 17)

## Sequence Functions

`all(<sequence>)`: Return True if all elements of the iterable are true (or if the iterable is empty).

In [ ]:
grades_list = [92, 91, 78, 69, 100, 88]

passing_status = [grade >= 70 for grade in grades_list]

all(passing_status)

False

`any(<sequence>)`: Return True if any element of the iterable is true. If the iterable is empty, return False.

In [ ]:
failing_status = [grade < 70 for grade in grades_list]

any(failing_status)

True

`enumerate(<sequence>)`: Return an enumerate object, which is a tuple with the index as the first element and the value as the second.

In [ ]:
names_list = ['Janet', 'John', 'Jack', 'Jane', 'Jill']

for index, name in enumerate(names_list):
    print('{}: {}'.format(index + 1, name))

1: Janet
2: John
3: Jack
4: Jane
5: Jill

`len(<sequence>)`: Return the length (the number of items) of an object.

In [ ]:
len(names_list)

5

`zip(<sequence1>, <sequence2>, ...)`: Make an iterator that aggregates elements from each of the sequences. The iterator stops when the shortest input iterable is exhausted.

In [ ]:
# List of heights in meters
heights_m = [1.64, 1.73, 1.69, 1.60, 1.80, 1.83, 1.90, 1.86, 1.59, 1.71]

# List of weights in kilograms
weights_kg = [46, 76, 56, 62, 78, 90, 102, 78, 73]

# Empty list to store calculated BMIs
bmis = []

# Calculate BMI for each pair of weight and height
for weight, height in zip(weights_kg, heights_m):
    bmi = weight / height ** 2
    # Round the BMI to 2 decimal places and add it to the list of BMIs
    bmis.append(round(bmi, 2))

# The list of calculated BMIs
bmis

[17.1, 25.39, 19.61, 24.22, 24.07, 26.87, 28.25, 22.55, 28.88]