## Python Standard Library

Python's standard library is very extensive, offering a wide range of facilities. The library contains built-in modules that provide access to system functionality such as file I/O that would otherwise be inaccessible to Python programmers, as well as modules that provide standardized solutions for many problems that occur in everyday programming. Some of these modules are explicitly designed to encourage and enhance the portability of Python programs by abstracting away platform-specifics into platform-neutral APIs.

In addition to the standard library, there is a growing collection of several thousand components (from individual programs and modules to packages and entire application development frameworks), available from the Python Package Index (https://pypi.org/).

## `math` Module

`math` module provides several mathematical functions that can be used with int and float values. Some of the more common functions are listed here.

In [3]:
import math

# `math.pi`: The mathematical constant π = 3.141592…, to available precision.

In [4]:
math.pi

3.141592653589793

# `math.e`: The mathematical constant e = 2.718281…, to available precision.

math.e is a constant in the Python math module that represents the mathematical constant "e," also known as Euler's number. The value of Euler's number is approximately 2.718281828459045. It is a fundamental mathematical constant that is the base of the natural logarithm and has various applications in mathematics, physics, engineering, and other scientific fields.

In [5]:
math.e

2.718281828459045

`math.factorial(<x>)`: Return `x` factorial. Raises `ValueError` if `x` is not integral or is negative.

In [6]:
math.factorial(10)

3628800

In [7]:
# `math.sin(<x>)`: Return the sine of `x` radians.
math.sin(math.pi / 2)

1.0

`math.cos(<x>)`: Return the cosine of `x` radians.

In [8]:
math.cos(-math.pi)

-1.0

`math.log(<x>, <base>)`: With one argument, return the natural logarithm of `x` (to base `e`). With two arguments, return the logarithm of `x` to the given base, calculated as `log(x)/log(base)`.

In [9]:
math.log(1000)

6.907755278982137

In [10]:
math.log(1000, 10)

2.9999999999999996

`math.log10(<x>)`: Return the base-10 logarithm of `x`. This is usually more accurate than `log(x, 10)`.

In [11]:
math.log10(1000)

3.0

`math.gcd(<a>, <b>)`: Return the greatest common divisor of the integers `a` and `b`. If either `a` or `b` is nonzero, then the value of `gcd(a, b)` is the largest positive integer that divides both `a` and `b`. `gcd(0, 0)` returns 0.

In [12]:
math.gcd(24, 36)

12

`math.ceil(<x>)`: Return the ceiling of `x`, the smallest integer greater than or equal to `x`.

In [13]:
math.ceil(1.01)

2

`math.floor(<x>)`: Return the floor of `x`, the largest integer less than or equal to `x`.

In [14]:
math.floor(1.99)

1

`math.sqrt(<x>)`: Return the square root of `x`.

In [15]:
math.sqrt(49)

7.0

# `statistics` Module

This module provides functions for calculating mathematical statistics of numeric (Real-valued) data.

In [16]:
import statistics

In [17]:
data = [12.4, 3.7, 7.8, 23.6, 3, 8.9, 34.6, 1.9, 34.7, 19.3, 3]
data

[12.4, 3.7, 7.8, 23.6, 3, 8.9, 34.6, 1.9, 34.7, 19.3, 3]

`statistics.mean(<data>)`: Return the sample arithmetic mean (average) of data which can be a sequence or iterator.

In [18]:
statistics.mean(data)

13.9

`statistics.median(<data>)`: Return the median (middle value) of numeric data, using the common "mean of middle two" method.

In [19]:
statistics.median(data)

8.9

`statistics.mode(<data>)`: Return the most common data point from discrete or nominal data. The mode (when it exists) is the most typical value, and is a robust measure of central location. If data is empty, or if there is not exactly one most common value, StatisticsError is raised.

In [20]:
statistics.mode(data)

3

`statistics.variance(<data>)`: Return the sample variance of data, an iterable of at least two real-valued numbers. Variance, or second moment about the mean, is a measure of the variability (spread or dispersion) of data. A large variance indicates that the data is spread out; a small variance indicates it is clustered closely around the mean.

In [21]:
statistics.variance(data)

153.45000000000002

`statistics.stdev(<data>)`: Return the sample standard deviation (the square root of the sample variance).

In [22]:
statistics.stdev(data)

12.387493693237548

## 'random' Module

This module implements pseudo-random number generators for various distributions.

In [23]:
import random

`random.random()`: Return the next random floating point number in the range [0.0, 1.0).

In [24]:
random.random()

0.7934054849788156

In [25]:
random.random()

0.9491822130421281

`random.randrange(<start>, <stop>, <step>)`: Return a randomly selected element from `range(start, stop, step)`.

In [26]:
random.randrange(0, 100, 5)

10

`random.randint(<a>, <b>)`: Return a random integer N such that a <= N <= b. Alias for randrange(a, b+1).

In [27]:
random.randint(0, 20)

1

In [28]:
names_list = ['John', 'Jane', 'Jill', 'Jack', 'Janet', 'James', 'Justin']
names_list

['John', 'Jane', 'Jill', 'Jack', 'Janet', 'James', 'Justin']

`random.choice(<sequence>)`: Return a random element from the non-empty sequence sequence. If sequence is empty, raises `IndexError`.

In [29]:
beh = random.choice(names_list)
type(beh)

str

In [30]:
random.choice(names_list)

'John'

`random.choices(<sequence>, k=<n>)`: Return a `n` sized list of elements chosen from the population with replacement. If the population is empty, raises `IndexError`.

In [31]:
random.choices(names_list, k=3)

['James', 'John', 'Jane']

`random.shuffle(<sequence>)`: Shuffle the sequence `x` in place.

In [32]:
random.shuffle(names_list)
names_list

['Justin', 'Jill', 'Janet', 'Jack', 'James', 'Jane', 'John']

In [33]:
numbers_list = list(range(0, 20))
numbers_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [34]:
random.shuffle(numbers_list)
numbers_list

[0, 14, 13, 10, 6, 19, 18, 11, 5, 16, 17, 8, 3, 9, 7, 4, 15, 2, 12, 1]

# `string` Module

`string` module can be used for working with strings.

In [35]:
import string

`string.ascii_letters`: The concatenation of lowercase and uppercase letters.

In [36]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

`string.ascii_lowercase`: The lowercase letters.

In [37]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

`string.ascii_uppercase`: The uppercase letters.

In [38]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

`string.digits`: A string of all 10 digits.

In [39]:
string.digits

'0123456789'

`string.whitespace`: A string containing all ASCII characters that are considered whitespace.

In [40]:
string.whitespace

' \t\n\r\x0b\x0c'

`string.punctuation`: String of ASCII characters which are considered punctuation characters.

In [41]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

# Object-Oriented Programming

Python is an object oriented programming language. Almost everything in Python is an object, with its properties and methods. A Class is like an object constructor, or a "blueprint" for creating objects.

Class definitions, like function definitions (def statements) must be executed before they have any effect. (You could conceivably place a class definition in a branch of an if statement, or inside a function.)

In [42]:
class Employee:
    name = 'John Doe'
    id = 123

After defining the class attributes to a class, the class object can be created by assigning the object to a variable. The created object would have instance attributes associated with it.

Class instantiation uses function notation. Just pretend that the class object is a parameterless function that returns a new instance of the class. For example the following code will creates a new instance of the class and assigns this object to the local variable.

In [43]:
employee1 = Employee()
employee2 = Employee()

ATTRIBUTE REFERENCES use the standard syntax used for all attribute references in Python: obj.name. Valid attribute names are all the names that were in the class's namespace when the class object was created. For class Employee the following reference is a valid attribute reference:

In [44]:
employee1.name

'John Doe'

In [45]:
employee2.name

'John Doe'

In [46]:
employee2.name = 'Jane Doe'
employee2.id = 456

In [47]:
print('Employee {} has ID {}'.format(employee1.name, employee1.id))
print('Employee {} has ID {}'.format(employee2.name, employee2.id))

Employee John Doe has ID 123
Employee Jane Doe has ID 456

## Class Constructor

The instantiation operation ("calling" a class object) creates an empty object. Many classes like to create objects with instances customized to a specific initial state. Therefore a class may define a special method named `__init__()`, like this:

The self parameter is a reference to the class itself, and is used to access variables that belongs to the class. It does not have to be named self, you can call it whatever you like, but it has to be the first parameter of any function in the class.

In [48]:
class Employee:
    def __init__(self, name, id, birthdate):
        self.name = name
        self.id = id
        self.birthdate = birthdate

In [49]:
employee1 = Employee('John Doe', 123, '1970-01-01')

print('Employee {} with ID {} born on {}'.format(
    employee1.name, employee1.id, employee1.birthdate))

Employee John Doe with ID 123 born on 1970-01-01

In [50]:
employee2 = Employee('Jane Doe', 234, '1971-01-01')

print('Employee {} with ID {} born on {}'.format(
    employee2.name, employee2.id, employee2.birthdate))

Employee Jane Doe with ID 234 born on 1971-01-01

Now what can we do with instance objects? The only operations understood by instance objects are attribute references. There are two kinds of valid attribute names:
- data attributes
- methods.

DATA ATTRIBUTES need not be declared; like local variables, they spring into existence when they are first assigned to. For example, if 'employee3' is the instance of Employee created below, the following piece of code will print the value '50000', without leaving a trace.

In [51]:
employee3 = Employee('Jill Doe', 345, '1972-01-01')
employee3.pay = 50000

print('Employee {} (ID {}) is paid ${:,}'.format(
    employee3.name, employee3.id, employee3.pay))

Employee Jill Doe (ID 345) is paid $50,000

# Class Methods

Classes can have two types of attribute references: data or methods. The other kind of instance attribute reference is a method. A method is a function that # "belongs to" an object.

Class methods are called by [instance_name].[method_name] ([parameters]) as opposed to class data which lacks the ().

In [52]:
class Employee:
    def __init__(self, name, id, birthdate):
        self.name = name
        self.id = id
        self.birthdate = birthdate

    # introduce is a method of the class Employee
    def introduce(self):
        print('Employee {} with ID {} born on {}'.format(
            self.name, self.id, self.birthdate))

In [53]:
employee1 = Employee('John Doe', 123, '1970-01-01')
employee2 = Employee('Jane Doe', 234, '1971-01-01')

In [54]:
employee1.introduce()

Employee John Doe with ID 123 born on 1970-01-01

In [55]:
employee2.introduce()

Employee Jane Doe with ID 234 born on 1971-01-01

What exactly happens when a method is called? You may have noticed that employee1.introduce() was called without an argument above, even though the function definition for introduce() specified an argument (self). What happened to the argument? Surely Python raises an exception when a function that requires an argument is called without any — even if the argument isn't actually used.

Actually, you may have guessed the answer: the special thing about methods is that the instance object is passed as the first argument of the function. In our example, the call employee1.introduce() is exactly equivalent to Employee.introduce(employee1). In general, calling a method with a list of n arguments is equivalent to calling the corresponding function with an argument list that is created by inserting the method's instance object before the first argument.

## Class Variables

Generally speaking, instance variables are for data unique to each instance and class variables are for attributes and methods shared by all instances of the class.

In [56]:
class Account:
    interest_rate = 0.01
    # deals = []

    def __init__(self, owner, number):
        self.owner = owner
        self.number = number
        self.balance = 0
        self.deals = []

    def deposit(self, value):
        try:
            value = float(value)

            if value < 0:
                raise ValueError()

            self.balance += value
            print('Deposited ${:.2f} to account #{}'.format(value, self.number))
        except:
            print('Please enter a non-negative number')

        return self.balance

    def withdraw(self, value):
        try:
            value = float(value)

            if value < 0 or value > self.balance:
                raise ValueError()

            self.balance -= value
            print('Withdrew ${:.2f} from account #{}'.format(value, self.number))
        except:
            print('Invalid withdraw amount')

        return self.balance

    def add_deal(self, deal):
        self.deals.append(deal)

In [57]:
account1 = Account('John Doe', 123)
account1.balance

0

In [58]:
account1.deposit(100)

Deposited $100.00 to account #123

100.0

In [59]:
account1.deposit(50)

Deposited $50.00 to account #123

150.0

In [60]:
account1.withdraw(75.50)

Withdrew $75.50 from account #123

74.5

In [61]:
account1.withdraw(100)

Invalid withdraw amount

74.5

In [62]:
account2 = Account('Jane Doe', 345)

In [63]:
account2.deposit(1000)

Deposited $1000.00 to account #345

1000.0

In [64]:
account2.withdraw(350)

Withdrew $350.00 from account #345

650.0

In [65]:
account2.deposit(500)

Deposited $500.00 to account #345

1150.0

In [66]:
account1.interest_rate = 0.02

In [67]:
account1.interest_rate

0.02

In [68]:
account2.interest_rate

0.01

Shared data can have possibly surprising effects with involving mutable objects such as lists and dictionaries. For example, the tricks list in the following code should not be used as a class variable because just a single list would be shared by all Dog instances.

In [69]:
account1.deals

[]

In [70]:
account2.deals

[]

In [71]:
account1.add_deal('Gas Stations')

In [72]:
account2.add_deal('Department Stores')

In [73]:
account1.deals

['Gas Stations']

In [74]:
account2.deals

['Department Stores']

## Inheritance

Inheritance is one of the principles of object-oriented programming. Since classes may share a lot of the same code, inheritance allows a derived class to reuse the same code and modify accordingly.

The Base Class (in our case `Account`) must be defined in a scope containing the derived class definition. In place of a base class name, other arbitrary expressions are also allowed. Derived classes may override methods of their base classes. Because methods have no special privileges when calling other methods of the same object, a method of a base class that calls another method defined in the same base class may end up calling a method of a derived class that overrides it.

An overriding method in a derived class may in fact want to extend rather than simply replace the base class method of the same name. There is a simple way to call the base class method directly: just call `BaseClassName.methodname(self, arguments)`. This is occasionally useful to clients as well. (Note that this only works if the base class is accessible as `BaseClassName` in the global scope.)

In [75]:
class Account:
    def __init__(self, owner, number):
        self.owner = owner
        self.number = number
        self.balance = 0
        self.deals = []

    def deposit(self, value):
        try:
            value = float(value)

            if value < 0:
                raise ValueError()

            self.balance += value
            print('Deposited ${:.2f} to account #{}'.format(
                value, self.number))
        except:
            print('Please enter a non-negative number')

    def withdraw(self, value):
        try:
            value = float(value)

            if value < 0 or value > self.balance:
                raise ValueError()

            self.balance -= value
            print('Withdrew ${:.2f} from account #{}'.format(
                value, self.number))
        except:
            print('Invalid withdraw amount')

    def show_balance(self):
        print('Account #{} has balance ${:.2f}'.format(self.number, self.balance))

The syntax for a derived class definition looks like this.

In [76]:
class SavingAccount(Account):
    # We add a class variable shared by all the instances of SavingAccount
    interest_rate = 0.01

    # We add a new method on top of all the methods available in Account
    def pay_interest(self):
        self.balance += self.balance * self.interest_rate

In [77]:
account1 = SavingAccount('John Doe', 123)

In [78]:
account1.deposit(100)
account1.show_balance()

Deposited $100.00 to account #123
Account #123 has balance $100.00

In [79]:
account1.pay_interest()
account1.show_balance()

Account #123 has balance $101.00

In [80]:
account1.pay_interest()
account1.show_balance()

Account #123 has balance $102.01

In [81]:
import random

class CheckingAccount(Account):
    def issue_debit_card(self):
        card_number = ''

        for i in range(16):
            card_number += str(random.randint(0, 9))
            if i % 4 == 3 and i < 15:
                card_number += ' '

        self.card_number = card_number

In [82]:
account2 = CheckingAccount('Jane Doe', 456)
account2.issue_debit_card()

In [83]:
account2.card_number

'8811 2938 1362 3382'